doctype html
html
  head
    title 文件系统
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/switch.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
  body
    block content
